.link__container {
    position: absolute;
    max-width: 300px;
    min-width: max-content;
    height: 32px;
    display: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #fff;
    z-index: 500;
    padding: 4px;
    margin-top: 24px;
    margin-left: -20px;
    transition: top 75ms ease-out, left 75ms ease-out;
}
.link__input {
    width: 240px;
    height: 24px;
    background: #f9f9f9;
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 3px 8px;
    margin-right: 4px;
}
.link__input::placeholder {
    color: #a6a6a6;
}
.link__button {
    color: #0053b8;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    margin-right: 8px;
    font-weight: bold;
}
.link__label {
    width: 240px;
    height: 24px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    padding: 3px 8px;
    margin-right: 4px;
    font-size: 12px;
    color: #0053b8;
    text-decoration: underline;
}
.show {
    display: flex;
}
